@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.bg-dark{
  background: #00d15e!important;
}
.navbar-toggler{
  color: white !important;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #00d15e;
  border-radius: 0px !important;
}

.breadcrumb a{
  color: white;
}

.breadcrumb-item+.breadcrumb-item::before{
  display: inline-block;
  padding-right: .5rem;
  color: white;
  content: "/";
}

.breadcrumb-item.active{
  color: white;
}

.nav-item a{
  color: #f5f5f5 !important;
}